<div class=" user-profile-form">
  <div class="row">
    <div class="col-md-12">
      <div class="card-header border-0">
        <h3 class="card-title font-weight-bolder text-primary">Support - FAQ</h3>
        <mat-divider class="ml-2 mr-2"></mat-divider>
      </div>

    </div>
  </div>

  <div class="row  p-4">

    <div class="col-md-12">
      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h5 class=" font-weight-bolder ">Do I need a Telcare BGM in order to obtain a Telserve username and password?</h5>

            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Having a Telcare BGM is one way to obtain a Telserve username and password, or you can download the Telcare Diabetes Pal App available on the App Store and the Google Play store.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h5 class=" font-weight-bolder "> What happens if the Telcare BGM can't find a signal to send the data to Telserve?</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>It will save the data. You can send this data at any time by going to Memory Recall or History in the meter. See Telcare BGM User Manual for instructions. The meter will calculate and save your BG data without a signal, just like a standard meter.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h5 class=" font-weight-bolder "> How do I know if my glucose data was received by Telserve?</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>"Data sent successfully" will display on your meter. If data was not received, "No data connection, Data will be stored" will display on your meter.</p>
        </mat-expansion-panel>


        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h5 class=" font-weight-bolder "> What happens if my Telcare BGM sends data while I'm logged into the Telserve Portal ?</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Refresh your browser to display the most recent readings.</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

</div>


