<div class="d-flex flex-column-fluid flex-center mt-30 mt-lg-0">
  <!--begin::Signup-->
  <br />
  <br />
  <br />
  <div class="login-form login-signup" style="display: block;">


    <kt-auth-notice></kt-auth-notice>


    <form class="form" [formGroup]="passwordForm" autocomplete="off">
      <div class="text-left mt-10 mb-10 mb-lg-20">
        <h3 class="font-size-h1">Welcome</h3>
        <p class="text-muted font-weight-bold">Change your password to keep it secured!</p>
      </div>
      <div class="alert alert-primary alert-dismissible fade show">
        <strong>Info!</strong> Please use a strong password to keep your account secured
       
      </div>
      <div class="row">


        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Current Password</mat-label>
              <input matInput type="password" placeholder="Current Password"
                     formControlName="oldpassword" autocomplete="off" />
              <mat-error *ngIf="isControlHasError('oldpassword','required')">
                <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
              </mat-error>
              <mat-error *ngIf="isControlHasError('oldpassword','minlength')">
                <strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
              </mat-error>
              <mat-error *ngIf="isControlHasError('oldpassword','maxlength')">
                <strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
              </mat-error>
            </mat-form-field>
          </div>

        </div>



      </div>

      <div class="row">


        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field>
              <mat-label>{{ 'AUTH.INPUT.PASSWORD' | translate }}</mat-label>
              <input matInput type="password" placeholder="{{ 'AUTH.INPUT.PASSWORD' | translate }}"
                     formControlName="password" autocomplete="off" />
              <mat-error *ngIf="isControlHasError('password','required')">
                <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
              </mat-error>
              <mat-error *ngIf="isControlHasError('password','minlength')">
                <strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
              </mat-error>
              <mat-error *ngIf="isControlHasError('password','maxlength')">
                <strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
              </mat-error>
            </mat-form-field>
          </div>

        </div>



      </div>

      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field>
              <mat-label>{{ 'AUTH.INPUT.CONFIRM_PASSWORD' | translate }}</mat-label>
              <input matInput type="password" placeholder="{{ 'AUTH.INPUT.CONFIRM_PASSWORD' | translate }}"
                     formControlName="confirmPassword" autocomplete="off" />
              <mat-error *ngIf="isControlHasError('confirmPassword','required')">
                <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
              </mat-error>
              <mat-error *ngIf="isControlHasError('confirmPassword','minlength')">
                <strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
              </mat-error>
              <mat-error *ngIf="isControlHasError('confirmPassword','maxlength')">
                <strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
              </mat-error>
              <mat-error *ngIf="passwordForm.get('confirmPassword').errors && passwordForm.get('confirmPassword').errors.ConfirmPassword">
                <strong>Passsword and ConfirmPassword didn't match.</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

      </div>


      <!--begin::Action-->
      <div class="form-group d-flex flex-wrap flex-left">
        <button (click)="changePassword()" id="kt_login_signup_submit1"
                class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4"
                [ngClass]="{'spinner spinner-right spinner-md spinner-light': loading}">
          {{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}
        </button>
        <a href="/auth/login" id="kt_login_signup_cancel"
           class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-4">Cancel</a>
      </div>
      <!--end::Action-->
    </form>




  </div>
  <!--end::Signup-->
</div>



<ng-template #infoOnLoad let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Welcome!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Hello! Please change your password. For any queries contact support at. We are pleased to have you with us!
    </p>
  </div>

</ng-template>
