<div class=" user-profile-form">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div class="card-header border-0">
        <h3 class="card-title font-weight-bolder text-primary">Support - Terms of Service</h3>
        <mat-divider class="ml-2 mr-2"></mat-divider>
      </div>

    </div>
    <div class="col-md-1">
    </div>
  </div>

  <div class="row  p-4">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div [innerHTML]="htmlText">
      </div>
    </div>
    <div class="col-md-1">
    </div>
  </div>

</div>


